In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [30]:
heart_disease <- read_csv("processed.cleveland.data", col_names = FALSE)
colnames(heart_disease) = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")

heart_disease_converted <- heart_disease |>
                        mutate(age = as.integer(age), sex = as_factor(sex), cp = as_factor(cp), 
                               trestbps = as.integer(trestbps), chol = as.integer(chol), 
                               fbs = as_factor(fbs), restecg = as_factor(restecg), thalach = as.integer(thalach), 
                               exang = as_factor(exang), oldpeak = as.integer(oldpeak), slope = as_factor(slope), 
                               ca = as.integer(ca), thal = as_factor(thal), num = as.integer(num))
head(heart_disease_converted, 10)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `ca = as.integer(ca)`.
Caused by warning:
! NAs introduced by coercion”

   age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1  63  1   1  145      233  1   2       150     0     2       3     0  6.0  0
2  67  1   4  160      286  0   2       108     1     1       2     3  3.0  2
3  67  1   4  120      229  0   2       129     1     2       2     2  7.0  1
4  37  1   3  130      250  0   0       187     0     3       3     0  3.0  0
5  41  0   2  130      204  0   2       172     0     1       1     0  3.0  0
6  56  1   2  120      236  0   0       178     0     0       1     0  3.0  0
7  62  0   4  140      268  0   2       160     0     3       3     2  3.0  3
8  57  0   4  120      354  0   0       163     1     0       1     0  3.0  0
9  63  1   4  130      254  0   2       147     0     1       2     1  7.0  2
10 53  1   4  140      203  1   2       155     1     3       3     0  7.0  1

https://archive.ics.uci.edu/dataset/45/heart+disease

3 age: age in years 

4 sex: sex (1 = male; 0 = female) 

9 cp: chest pain type 
-- Value 1: typical angina 
-- Value 2: atypical angina 
-- Value 3: non-anginal pain 
-- Value 4: asymptomatic 

10 trestbps: resting blood pressure (in mm Hg on admission to the hospital) 

12 chol: serum cholestoral in mg/dl 

16 fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false) 

19 restecg: resting electrocardiographic results 
-- Value 0: normal 
-- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) 
-- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria 

32 thalach: maximum heart rate achieved 

38 exang: exercise induced angina (1 = yes; 0 = no) 

40 oldpeak = ST depression induced by exercise relative to rest 

41 slope: the slope of the peak exercise ST segment 
-- Value 1: upsloping 
-- Value 2: flat 
-- Value 3: downsloping 

44 ca: number of major vessels (0-3) colored by flourosopy 

51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect 

58 num: diagnosis of heart disease (angiographic disease status) 
-- Value 0: < 50% diameter narrowing 
-- Value 1: > 50% diameter narrowing 
(in any major vessel: attributes 59 through 68 are vessels)